*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modallogin{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modallogin_item{
    position: absolute;
    width: 600px;
    min-height: 200px;
    background-color: rgb(244, 233, 15);
    border-radius: 10px;
    animation: dixuong ease-in 0.6s;
    
}
.modallogin_head{
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: 2rem;
}
.btclose{
    position: absolute;
    width: 50px;
    background-color:#fff;
    right: 0;
    cursor: pointer;
    border-radius: 0 0 0 10px;
}
.btclose:hover{
    color: red;
    
}

.modallogin_content label{
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 0;
    font-size: 1rem;
}

.modallogin_content input{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding:2px 0;
    border-radius: 10px;
    outline: none;
    
}
.modallogin_content input:hover{
    background-color: rgb(0,0,0,0.5);
}
::placeholder{
    padding-left: 10px;
}
.modallogin_content p{
    margin-left: 30px;
}
#dangnhap{
    margin: 30px auto;
    width: 20%;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}
input[type="file"]{
    display: inline;
}

@keyframes dixuong{
    from{
        opacity: 0;
       transform: translateY(-300px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
